* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#main_simplified_text_area, #active_response_area, #phases_area, #instruction_area {
    vertical-align: top;
    margin-top: 20px;
    border: 2px dashed black;
    padding: 20px;
    background-color: #fff;
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;
}

#main_simplified_text_area {
    width: 500px;
    min-height: 450px;
    font-size: larger;
    text-align: justify;
}

#active_response_area {
    width: 650px;
    min-height: 450px;
    padding: 20px;
    text-align: left;
}

#instruction_area {
    width: 850px;
    text-align: left;
}

#phases_area {
    text-align: left;
    width: 300px;
    line-height: 1.8em;
}

.phase_progress, .phase_done, .phase_locked {
    width: 100px;
    text-align: center;
    border: 2px solid black;
    padding-bottom: 5px;
    padding-top: 0px;
    height: 18px;
    float: right;
}

#phases_area .phase_progress {
    font-weight: bold;
    background-color: #fdf;
    border-color: #cbc;
}

#phases_area .phase_done {
    font-style: italic;
    background-color: #dfd;
    border-color: #bcb;
}

#phases_area .phase_locked {
    font-style: italic;
    background-color: #ddd;
    border-color: #bbb;
}

#but_next {
    width: 250px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.hi_input_val {
    margin-left: 150px;
}
.hi_input_label {
    margin-left: 20px;
    vertical-align: top;
}

#sentence_list li {
    border: 2px solid black;
    cursor: pointer;
    background-color: #e8dfc5;
}

#sentence_list li:not(:last-child) {
    margin-bottom: 5px;
}

#sentence_list {
    margin-left: -10px;
    font-size: larger;
}